.header-component {
  text-align: center;
  background-color: #ffffff;
  padding: 1.5rem 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .header-component img {
    width: 13rem; }
